
#about-page{
    font-family: 'Questrial', sans-serif;
    
    height: 100vh;
    width:100vw;
    display: flex;
    align-items:center;
    justify-items: center;
    flex-direction: column;    
}
#rasta-border{
    justify-self: center;
    margin-left: 25vw;
    width: 40vw;
    height: 3px;
    background-image:   linear-gradient(to right,#e70001 33%,#ffe000 33%, #ffe000 66%, #008542 66%) 5;
    margin-bottom: 10px;
}
.player-wrapper {
    font-family: 'Questrial', sans-serif;
    z-index:1;
    height: 50vh;
    width: 90vw;
    position: relative;
  }
  #core-values{
      max-width: 80vw;
  }
  #meet-ryan{
    margin-top: 5vh;
    width: 90vw;
    text-align: center;
  }
  
  #about-text{
      margin-top: 5vh;
      width: 90vw;
      text-align: center;
  }
  #signup-text{
      margin-top: 5vh;
      width: 90vw;
  }

  #signup-text h2{
  text-align: center;
}

#ryan-headshot{
    margin-top: 1vh;
    max-height: 40vh;
    max-width:90vw;
    margin-bottom: 3vh;
}
#img-container-fall{
    margin-top: 5vh;
    display: flex;
    justify-content: flex-start;
}
#img-container-coaster {
    display: flex;
    justify-content: center;
}


#bottom-signup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 10vh;
}

#sign-up-bottom-button{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
    background-color: #008542;
    width: 90px;
    color:white;
    font-size: 16px;
    height: 25px;
    -webkit-box-shadow: 0px 6px 0px #008542;
    -moz-box-shadow: 0px 6px 0px #008542;
    box-shadow: 0px 2px 0px black;
    border: 1px solid #008575;
}

#signup-text{
    text-align: center;
}

#coaster-img{
    margin-top: 2vh;
    width:90vw;
    height: 90vw;
}

@media (min-width: 700px){
    h2{
        font-size: 32px;
    }
    p{
        font-size: 20px;
    }
    #coaster-img{
        width:70vw;
    }
    #sign-up-bottom-button{
        
        width: 120px;
        color:white;
        font-size: 26px;

        height: 32px;
       
    }
}
@media (min-width: 1000px){
    h2{
        font-size: 48px;
    }
    p{
        font-size: 29px;
    }
    #coaster-img{
        width:70vw;
    }
    #sign-up-bottom-button{
        
        width: 150px;
        color:white;
        font-size: 30px;

        height: 35px;
       
    }
}
@media (min-width: 1200px){
    #rasta-border{
        justify-self: center;
        margin-left: 15vw!important;
        width: 30vw;
    }
    #full-page{
        display: flex;
        flex-direction:row;
    }
    #about-page{
        height: 95vh;
        overflow: scroll;
        
        width: 60vw;
        align-items:center;
        justify-items: center;
        flex-direction: column;  
        

    }
    #page-wrapper{
        width: 20vw;
        height: 100vh;
        background-image:url("../images/FlyinRyanHawks.jpg");
        background-size: cover;
        box-shadow: inset 5px 0 8px -4px black,inset -5px 0 8px -4px black;
        background-position: 50% 50%
    }
    #page-wrapper-right{
        width: 20vw;
        height: 100vh;
        background-image:url("../images/flyin-right.jpg");
        background-size: cover;
        box-shadow: inset 5px 0 8px -4px black,inset -5px 0 8px -4px black;
        background-position: 20% 70%
    }
    #about-text{
        width: 60vw;
    }
    .player-wrapper{
        width: 60vw;
        height: 60vh;
    }
    #meet-ryan{
        width: 60vw;
    }
    #signup-text{
        width: 60vw;
    }
    #coaster-img{
        width:25vw;
    }
   
      
   
}