#about-page{
    margin-top: 15px;
    height: 100vh;
    width:100vw;
    display: flex;
    align-items:center;
    justify-items: center;
    flex-direction: column;
}

.player-wrapper {
    height: 50vh;
    width: 95vw;
    position: relative;
    padding-top: 10%
    
  }
  #core-values{
      max-width: 50vw;
  }
  
  