
#about-page{
    font-family: 'Questrial', sans-serif;
    height: 100vh;
    width:100vw;
    display: flex;
    align-items:center;
    justify-items: center;
    flex-direction: column;  
    color: rgb(45, 72, 155);  
}
#rasta-border{
    justify-self: center;
    margin-left: 25vw;
    width: 40vw;
    height: 3px;
    background:  linear-gradient(to right,#e70001 33%,#ffe000 33%, #ffe000 66%, #008542 66%) 100%;
    margin-bottom: 10px;
}
.player-wrapper {
    font-family: 'Questrial', sans-serif;
    z-index:1;
    height: 50vh;
    width: 90vw;
    position: relative;
  }
  #core-values{
      max-width: 80vw;
  }
  #meet-ryan{
    margin-top: 5vh;
    width: 90vw;
    text-align: center;
  }
  
  #about-text{
      margin-top: 5vh;
      width: 90vw;
      text-align: center;
  }
  #signup-text{
      margin-top: 5vh;
      width: 90vw;
  }

  #signup-text h2{
  text-align: center;
}
#ryan-headshot{
    margin-top: 1vh;
    height: 40vh;
    max-width:90vw;
    margin-bottom: 3vh;
}
#img-container-fall{
    margin-top: 5vh;
    display: flex;
    justify-content: flex-start;
}
#img-container-coaster {
    display: flex;
    justify-content: center;
}

#social-media-container {
    margin-top: 3vh;
    margin-bottom: 3vh;
    display:flex;
    width: 100%;
    justify-content: center;
}


#sign-container{
    display: flex;
    flex-direction: row; 
}
#sign-up-bottom-button{
    margin-left:5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:8px 15px;
    border-radius: 3px;
    background-color: #008542;
    font-weight: 600;
    color:white;
    font-size: 16px;
}
#sign-up-bottom-button:hover {
    cursor: pointer;
    background: #006130
}

#fb-share-button {
    margin-right: 5px;
    background: #3b5998;
    border-radius: 3px;
    font-weight: 600;
    padding: 8px 13px;
    display: inline-block;
    
}

#fb-share-button:hover {
    cursor: pointer;
    background: #213A6F
}

#fb-share-button svg {
    width: 18px;
    fill: white;
    vertical-align: middle;
    border-radius: 2px
}

#fb-share-button span {
    vertical-align: middle;
    color: white;
    font-size: 16px;
    padding: 0 3px;
}
#signup-text{
    text-align: center;
}

#coaster-img{
    margin-top: 2vh;
    width:90vw;
    height: 90vw;
}

@media (min-width: 700px){
    h2{
        font-size: 32px;
    }
    p{
        font-size: 20px;
    }
    #coaster-img{
        width:70vw;
        height:70vw;
    }
}
@media (min-width: 1000px){
    h2{
        font-size: 48px;
    }
    p{
        font-size: 29px;
    }
    #coaster-img{
        width:70vw;
        height:70vw;
    }
   
}
@media (min-width: 1200px){
    #fb-share-button span {
        font-size: 30px;
    }
    #sign-up-bottom-button{
        font-size: 30px;
    }
    #fb-share-button svg {
        width: 25px;
    }
    #rasta-border{
        justify-self: center;
        margin-left: 15vw!important;
        width: 20vw;
    }
    #full-page{
        display: flex;
        flex-direction:row;
    }
    #about-page{
        height: 95vh;
        overflow: scroll;
        padding: 15px;
        width: 50vw;
        align-items:center;
        justify-items: center;
        flex-direction: column;  
    }
    #page-wrapper{
        width: 25vw;
        height: 100vh;
        background-image:url("../images/FlyinRyanHawks.jpg");
        background-size: cover;
        box-shadow: inset 5px 0 8px -4px black,inset -5px 0 8px -4px black;
        background-position: 50% 50%
    }
    #page-wrapper-right{
        width: 25vw;
        height: 100vh;
        background-image:url("../images/flyin-right.jpg");
        background-size: cover;
        box-shadow: inset 5px 0 8px -4px black,inset -5px 0 8px -4px black;
        background-position: 20% 70%
    }
    #about-text{
        width: 50vw;
    }
    .player-wrapper{
        width: 50vw;
        height: 60vh;

    }
    #meet-ryan{
        width: 50vw;
    }
    #signup-text{
        width: 50vw;
    }
    #coaster-img{
        width:35vw;
        height: 35vw;
    }
   
      
   
}

@media (max-height: 450px){
    .player-wrapper{
        height:90vh;
    }
    #ryan-headshot{
        height: 90vh !important;
    }
    #coaster-img{
        margin-top: 2vh;
        width:60vw;
        height: 60vw;
    }

}