* {
    margin: 0;
    padding: 0;
}

/*-------------------------------------------------------*/

#home-page {
    height: 100%;
}

.nav-bar {
    background-color: white;
    height: 10vh;
    width: 100vw;
    position: absolute;
    z-index: 500;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#rasta-border-menu{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 3px;
    background:  linear-gradient(to right,#e70001 10%,#ffe000 10%, #ffe000 20%,#008542 20%, #008542 30%,#e70001 30%, #e70001  40%,#ffe000 40%, #ffe000 50%, #008542 50%, #008542 60%, #e70001 60%, #e70001 70%, #ffe000 70%, #ffe000 80%,#008542 80%, #008542 90%, #e70001 90%) 100%;
}

#flyin-logo {
    margin-left: 2vw;
    width: 45vw;
}

#landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/smallFly.png");
    background-size: cover;
    box-shadow: 0 1px 9px .5px black;
}

#title {
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-top: 30vh;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}

/*--------------------------Sign in/Sign up button styles-----------------------------*/

#button-container {
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#inner-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 1vh;
}

div[id$='-box-wrapper'] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup-icon {
    width: 40px;
    margin-left: 6px;
}

#user-icon {
    width: 40px;
}

div[id$='-box'] {
    background-color: rgb(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 5px 1px black;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

div[id$="-landing-button"] {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 120px;
    margin: 10px;
    transition: 1.5s;
    font-weight: 900;
    overflow: hidden;
    color: black;
}

#arrow {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

#arrow-img {
    position: absolute;
    z-index: 1;
    margin-top: 1vh;
    width: 55px;
    height: 30px;
    animation: bounce 3s infinite
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-5px);
    }
}

/*-------------------------------------------------------------------------------------------*/

/*--------------------------Share button styles-----------------------------*/

#share-icon {
    width: 60px;
    margin-left: 6px;
}

/*-------------------------------------------------------------------------------------------*/

/*----------Media Queries App.css----------*/
@media (min-width: 520px){
    #landing-page{
      background-image: url("../images/flyingMedium.jpg");
      background-size: cover;
      background-position:50% 50%;
    }
}
@media (min-width: 700px){
    #title{
        font-size: 28px;
    }
    div[id$='-box'] {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    #signup-icon {
        width: 60px;
        margin-left: 6px;
    }
    #user-icon {
        width: 60px;
    }
    #arrow-img {
        width: 70px;
        height: 60px;
    }
    div[id$="-landing-button"] {
        font-size: 24px;
    }
    div[id$='-box-wrapper'] {
        margin: 10px;
    }
    #rasta-border-menu{
        position: absolute;
        bottom: 0;
        width: 100vw;
        height: 3px;
        background:  linear-gradient(to right,#e70001 10%,#ffe000 10%, #ffe000 20%,#008542 20%, #008542 30%,#e70001 30%, #e70001  40%,#ffe000 40%, #ffe000 50%, #008542 50%, #008542 60%, #e70001 60%, #e70001 70%, #ffe000 70%, #ffe000 80%,#008542 80%, #008542 90%, #e70001 90%) 100%;
    }
}

@media (min-width: 1000px) {
    #flyin-logo {
        margin-left: 2vw;
        width: 30vw;
    }
    #title {
        font-size: 35px;
    }
    div[id$='-box'] {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }
    #signup-icon {
        width: 60px;
        margin-left: 6px;
    }
    #user-icon {
        width: 60px;
    }
    #arrow-img {
        width: 70px;
        height: 60px;
    }
    div[id$="-landing-button"] {
        height: auto;
        width: auto;
        font-size: 27px;
    }
    div[id$='-box-wrapper'] {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (min-width: 1200px) {
    #flyin-logo {
        margin-left: 2vw;
        width: 20vw;
    }
    div[id$='-box'] {
        height: 90px;
        width: 90px;
        border-radius: 50%;
    }
    #signup-icon {
        width: 60px;
        margin-left: 6px;
    }
    #user-icon {
        width: 60px;
    }
    #arrow-img {
        width: 70px;
        height: 60px;
    }
    div[id$="-landing-button"] {
        height: auto;
        width: auto;
        font-size: 25px;
    }
    div[id$='-box-wrapper'] {
        margin-left: 50px;
        margin-right: 50px;
    }
    #landing-page {
        background-image: url("../images/1200pxJump.jpg");
        background-size: cover;
        background-position: 40% 40%;
        box-shadow: 0 1px 9px .5px black;
    }
}

@media (max-height: 450px) {
    .nav-bar {
        height: 20vh;
    }
    #landing-page {
        background-image: url("../images/fall-line.jpg");
        background-position: 40%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    div[id$='-box'] {
        position: absolute;
        margin-left: 10px;
        bottom: 40px;
        height: 60px;
        width: 60px;
        border-radius: 50%;
    }
    #signup-icon {
        width: 40px;
        margin-left: 6px;
    }
    #user-icon {
        width: 40px;
    }
    #arrow-img {
        display: none;
    }
    div[id$="-landing-button"] {
        height: auto;
        width: 80px;
        font-size: 20px;
        text-shadow: 2px 2px 2px black;
        position: absolute;
        bottom: 2px;
        color: white;
    }
    div[id$='-box-wrapper'] {
        display: flex;
        align-content: center;
        margin-left: 50px;
        margin-right: 50px;
        width: 50px;
    }
    #title {
        font-size: 18px;
        margin-left: 5px
    }
    #flyin-logo {
        margin-left: 2vw;
        width: 30vw;
    }
}