*{
    margin: 0;
    padding: 0;
}

/*-------------------------------------------------------*/
#home-page{
    height: 100%;
}
.nav-bar{
    background-color: white;
    height: 10vh;
    width:100vw;
    position: fixed;
    z-index: 500;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.6s;
    z-index: 500;
    border-bottom: 4px solid;
    border-image:   linear-gradient(to right,#e70001 10%,#ffe000 10%, #ffe000 20%,#008542 20%, #008542 30%,#e70001 30%, #e70001  40%,#ffe000 40%, #ffe000 50%, #008542 50%, #008542 60%, #e70001 60%, #e70001 70%, #ffe000 70%, #ffe000 80%,#008542 80%, #008542 90%, #e70001 90%) 1;
   
}

.navbar--hidden {
    top: -10vh;
  }
#flyin-logo{
    margin-left: 2vw;
    width: 45vw;
}

#landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/frhimg.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-position:40% 40%;
    box-shadow: 0 2px 9px 2px black;
}

#title{
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-top: 15vh;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}
#button-container{
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#inner-container{
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 1vh;
}
div[id$="-button"]{
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 0 rgb(20,20,20);
    height: 25px;
    width: 100px;
    margin: 10px;
    transition: 1.5s;
}
div[id$="-button"]:hover{
    /*
    transition: 1s ease-in-out;
    box-shadow: inset 400px 0 0 0 rgb(20,20,20);
    color:white;
*/
    cursor: pointer;
}

#arrow{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}
#arrow-img{
    position: absolute;
    z-index: 1;
    margin-top: 1vh;
    width:55px;
    height: 30px;
    animation: bounce  3s infinite
}

 @keyframes bounce  {
	0%, 20%, 50%, 80%, 100% {
     transform: translateY(0);
  }
	40% {
     transform:translateY(-15px);
  }
	60% {
     transform:translateY(-5px);
  }
}

/*-------------------------------------------------------*/

#app{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#header {
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
    height: 7vh;
    width: 100%;
}

#dropdown {
    border: 1px solid black;
    height: 6.5vh;
    width: 10vw;
}

#homeImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    height: 80vh;
    width: 95vw;
    margin-top: 15px;

}

#logo {
    border: 1px solid black;
    height: 10vh;
    width: 70%;
    margin-top: 30px;
}

#buttonWrapper {
    border: 1px solid black;
    height: 5vh;
    width: 40%;
    margin-bottom: 30px;
}



