*{
    margin: 0;
    padding: 0;
}

/*-------------------------------------------------------*/

#landing-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/fillerBg.jpeg");
    background-size: cover;
}

#flying-img{
    margin-top: 10vh; 
   justify-content: center;
    width: 70vw;
}
#button-container{
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#inner-container{
    
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}
div[id$="-button"]{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right , red, yellow, green);
    height: 25px;
    width: 100px;
    margin: 10px;
    border: black solid 1px;
    border-radius: 15px 15px 15px 15px;
    transition: .3s;
}
div[id$="-button"]:hover{
    box-shadow: black 2px 2px 2px;
}
#arrow{
    display: flex;
    justify-content: center;
}
#arrow-img{
    width:45px ;
    height: 30px;
    animation: bounce  3s infinite
}

 @keyframes bounce  {
	0%, 20%, 50%, 80%, 100% {
     transform: translateY(0);
  }
	40% {
   transform:translateY(-15px);
  }
	60% {
    transform:translateY(-5px);
  }
}

/*-------------------------------------------------------*/

#app{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#header {
    display: flex;
    justify-content: flex-end;
    border: 1px solid black;
    height: 7vh;
    width: 100%;
}

#dropdown {
    border: 1px solid black;
    height: 6.5vh;
    width: 10vw;
}

#homeImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    height: 80vh;
    width: 95vw;
    margin-top: 15px;

}

#logo {
    border: 1px solid black;
    height: 10vh;
    width: 70%;
    margin-top: 30px;
}

#buttonWrapper {
    border: 1px solid black;
    height: 5vh;
    width: 40%;
    margin-bottom: 30px;
}

