#rasta-border-contact {
    width: 40vw;
    height: 3px;
    background: linear-gradient(to right, rgb(231, 0, 1) 33%, rgb(255, 224, 0) 33%, #ffe000 66%, #008542 66%) 100%;
    margin-bottom: 10px;
}

#contact-page{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3e6a99;
    height: 100vh;
    width: 100vw;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 3vh;
}

#newsletter-wrapper{
    padding-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 20vh; */
    width: 100vw;
}

#contact-newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control{
    height: 5vh;
    width: 70vw;
    background-color: transparent;
    color: white;
    border:none;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    padding: 5px 10px;
    text-align: center;
    font-size: 3.5vh;
    font-family: 'Do Hyeon', sans-serif;

}

#lineWrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#text-line-underline-mailer-red{
    justify-self: center;
    background: linear-gradient(to right, #3e6a99 0%, rgb(231, 0, 1) 15%, rgb(231, 0, 1) 85%, #3e6a99 100%) 100%;
    width: 40%;
    height: 2px;
    margin-bottom: 8px;
}

#text-line-underline-mailer-yellow{
    justify-self: center;
    background: linear-gradient(to right, #3e6a99 0%, rgb(255, 224, 0) 15%, rgb(255, 224, 0) 85%, #3e6a99 100%) 100%;
    width: 40%;
    height: 2px;
    margin-bottom: 8px;
}

#text-line-underline-mailer-green{
    justify-self: center;
    background: linear-gradient(to right, #3e6a99 0%, #1e8b55 15%, #1e8b55 85%, #3e6a99 100%) 100%;
    width: 40%;
    height: 2px;
    margin-bottom: 8px;
}

.form-control::placeholder{
    color: rgba(255, 255, 255, 0.322);
}

.contact-signup{
    margin-left:5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding:8px 15px;
    border-radius: 3px;
    background-color: #254d77;
    color:white;
    font-size: 16px;
    -webkit-box-shadow: 0px 6px 0px #254d77;
    -moz-box-shadow: 0px 6px 0px #254d77;
    box-shadow: 0px 2px 0px black;
    border: 1px solid #254d77;
    font-family: 'Do Hyeon', sans-serif;
}


#contact-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 20vh; */
    width: 100vw;
}

#contact-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100vw;
}

#connect-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#contact-connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
#contact-social-media{
    display: flex;
    width: 75vw;
    justify-content: space-evenly;
}

.logo-blip{
    height: 10vh;
    width: 10vw;
}
 svg{
    fill: white;
 }

.change-my-color{
    fill: white;
}