
#dash-pic {
    margin-top: 2vh;
    margin-left: 2vw;
    margin-bottom: 2vh;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgb(255,255,255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 5px 1px black;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#dash-name {
    font-family: 'Questrial', sans-serif;
    align-self: flex-end;
    margin-left: 2vw;
    padding-bottom: 2vh;
    font-size: 28px;
    font-weight: bold;
}

#user-greeting{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
}

#dashboard-wrapper {
    background-color:#3e6a99;
    box-shadow: 0 4px 9px 2px black;
    width: 100vw;
    height: 32vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 100;
}

#dash-links {
    margin-top: 3vh;
    margin-bottom: 2vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    font-weight: bolder;
}

#dash-content{
    font-family: 'Questrial', sans-serif;
    background-color: #95ADC7;
    color:white;
    font-size: 12px;
    margin-top: 5px;
    height: 100vh;
    width: 100vw;
}
#dash-date{
    margin-left: 2vw;
}

.cv-button-active{
    color:white;
    background:none;
    transition: .3s ease-in-out;
}

.v-button-active{
    color:white; 
    background:none;
    transition: .3s ease-in-out;
}
.m-button-active{
    color:white;
    background:none;
    transition: .3s ease-in-out;

}
div[id$='-link']{
    font-family: 'Questrial', sans-serif;
}
div[id$='-link']:hover{
    cursor: pointer;
    font-family: 'Questrial', sans-serif;
}

#core-values h1{ 
    padding-top: 15px;
    margin-left: 10vw;
}

#core-values h4{
    padding-top: 9px;
    margin-left: 10vw;
}

#corevalues-content{
    width: 80vw;
    margin-left: 10vw;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

#core-values-list{
    width: 80vw;
}


#share{
    order: 3;
    filter: opacity(20%)
}
#edit{
    filter: opacity(20%)
}
#value{
    position: absolute;
    left: 13vw;
}
 
#button-core-container{
    align-items: center;
    box-shadow: 2px 2px 2px #778a9f, inset 1px 1px 9px -1px #444c54;
    border: 1px solid #444c54 ;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    background-color: #aabdd2 ;
    padding: 5px;
    margin: 5px;
    font-size: 15px;
    height: auto;
}
#feed-display h1{
    padding-top: 15px;
    margin-left: 10vw;
}
#feed-display h4{
    padding-top: 9px;
    margin-left: 10vw;
}
#feed-display{

    display: flex; 
    flex-direction: column;
    
}
#blog-list{
    height: 50vh;
    overflow: scroll;
    width:80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
#button-feed-container{
    box-shadow: 2px 2px 2px #778a9f, inset 1px 1px 9px -1px #444c54;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    background-color: #aabdd2 ;
    border: 1px solid  #444c54;
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    height: auto;
}
#author{
    font-size: 20px;
    border-bottom: 4px solid black;
    margin-bottom: 3vh;
}
#content{
    font-size: 18px;
}
#goals h1{
    padding-top: 15px;
    margin-left: 10vw;
}
#goals h4{
    padding-top: 9px;
    margin-left: 10vw;
}

#get-started{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
    background-color: #008542;
    width: 80px;
    color:white;
    font-size: 13px;
    margin-top: 9px;
    margin-left: 10vw;;
    height: 20px;
    -webkit-box-shadow: 0px 6px 0px #008542;
    -moz-box-shadow: 0px 6px 0px #008542;
    box-shadow: 0px 2px 0px black;
    border: 1px solid #008575;
    }

    #rasta-border-core{
        justify-self: center;
        margin-left: 10vw;
        width: 25vw;
        height: 3px;
        background :  linear-gradient(to right,#e70001 33%,#ffe000 33%, #ffe000 66%, #008542 66%) 100%;
        margin-bottom: 10px;
    }
    #rasta-border-feed{
        justify-self: center;
        margin-left: 10vw;
        width: 18vw;
        height: 3px;
        background:   linear-gradient(to right,#e70001 33%,#ffe000 33%, #ffe000 66%, #008542 66%) 100%;
        margin-bottom: 10px;
    }
    #rasta-border-goals{
        justify-self: center;
        margin-left: 10vw;
        width: 18vw;
        height: 3px;
        background:   linear-gradient(to right,#e70001 33%,#ffe000 33%, #ffe000 66%, #008542 66%) 100%;
        margin-bottom: 10px;
    }

    #plus-sign {
        width: 10vw;
        height: 7vh
    }

    @media (max-height: 450px){

        #dashboard-wrapper{
            height: 60vh;
        }
        #dash-name{
            margin-top:20vh;
        }
        #dash-pic{
            margin-top: 20vh;
        }
    }