
#dash-pic {
    margin-top: 2vh;
    margin-left: 2vw;
    margin-bottom: 2vh;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgb(255,255,255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 5px 1px black;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#name-email-cont {
    font-family: 'Questrial', sans-serif;
    align-self: flex-end;
    margin-left: 2vw;
    font-size: 28px;
    font-weight: bold;
}

#dash-email {
    font-size: 13px;
    text-align: left;
    font-weight: lighter;
    padding-left: 1px;
}

#user-greeting{
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
}

#dashboard-wrapper {
    background-color:#3e6a99;
    box-shadow: 0 4px 9px 2px black;
    width: 100vw;
    height: 32vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 100;
}

#dash-links {
    margin-top: 3vh;
    margin-bottom: 2vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    font-weight: bolder;
}

#dash-content{
    font-family: 'Questrial', sans-serif;
    background-color: #95ADC7;
    color:white;
    font-size: 12px;
    margin-top: 5px;
    min-height: 100vh;
    height: auto;
    width: 100vw;
}
#dash-date{
    margin-left: 2vw;
}

.cv-button-active{
    color:white;
    
    background:none;
    transition: .3s ease-in-out;
}

.v-button-active{
    color:white; 
    background:none;
    transition: .3s ease-in-out;
}
.m-button-active{
    color:white;
    background:none;
    transition: .3s ease-in-out;

}
div[id$='-link']{
    font-family: 'Questrial', sans-serif;
}
div[id$='-link']:hover{
    cursor: pointer;
    font-family: 'Questrial', sans-serif;
}
#core-title{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    width:80vw;
    margin-left:10vw;
}
#core-values h1{ 
    padding-top: 15px;
}

#core-values h3{
    padding-top: 9px;
    margin-left: 10vw;
}

#core-values-list{
    margin-left: 10vw;
    width: 80vw;
}

#add-container{
    width: 80vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#share{
    order: 3;

}
#edit{
   
}

#value{
    padding: 10px;
    text-align: left;
    left: 0;
    width: 75%;
    height: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    
}
#value-feed{
    padding: 10px;
    text-align: left;
    left: 0;
    width: 100%;
    height: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    
}
#core-tools{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}
 
#button-core-container{
    overflow-wrap: break-word;
    align-items: center;
    box-shadow: 2px 2px 5px black;
    border: 1px solid #444c54 ;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color:  #3e6a99;
    padding: 15px;
    margin:14px;
    font-size: 20px;
    height: auto;
    border-radius: 10px;
    position: relative;
}
#button-feed-container::after{
    background-color: #3e6a99;
    content: "\00a0";
    display: block;
    height: 20px;
    left: -10px;
    position: absolute;
    top: 20px;
    transform: rotate( 45deg );
    -moz-transform: rotate( 45deg );
    -ms-transform: rotate( 45deg );
    -o-transform: rotate( 45deg );
    -webkit-transform: rotate( 45deg );
    width:  20px;
}
#feed-display h1{
    padding-top: 15px;
    margin-left: 10vw;
}
#feed-display h3{
    padding-top: 9px;
    margin-left: 10vw;
}
#feed-display{

    display: flex; 
    flex-direction: column;
    
}
#blog-list{
    height: 60vh;
    overflow: scroll;
    width:80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
#button-feed-container{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    align-items: center;
    box-shadow: 2px 2px 2px #778a9f;
    border: 1px solid #444c54 ;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color:  #3e6a99;
    padding: 15px;
    margin: 14px;
    font-size: 20px;
    border-radius: 10px;
    height: auto;
    position: relative;

}
#author{
    font-size: 20px;
    border-bottom: 4px solid black;
    margin-bottom: 3vh;
}
#content{
    font-size: 18px;
}
#goals h1{
    padding-top: 15px;
    margin-left: 10vw;
}
#goals h3{
    padding-top: 9px;
    margin-left: 10vw;
}

#get-started{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
    background-color: #008542;
    width: 80px;
    color:white;
    font-size: 13px;
    margin-top: 9px;
    margin-left: 10vw;;
    height: 20px;
    -webkit-box-shadow: 0px 6px 0px #008542;
    -moz-box-shadow: 0px 6px 0px #008542;
    box-shadow: 0px 2px 0px black;
    border: 1px solid #008575;
    }

    #rasta-border-core{
        justify-self: center;
        background:rgb(255,255,255, .3);
        margin-left: 10vw;
        width: 80vw;
        height: 2px;
    
    }
    #rasta-border-feed{
        justify-self: center;
        margin-left: 10vw;
        background: rgb(255,255,255, .3);
        margin-left: 10vw;
        width: 80vw;
        height: 2px;
    }
    #rasta-border-goals{
        justify-self: center;
        margin-left: 10vw;
        background: rgb(255,255,255, .3);
        width: 80vw;
        height: 2px;
    }


    @media (max-height: 450px){

        #dashboard-wrapper{
            height: 60vh;
        }
        #dash-name{
            margin-top:20vh;
        }
        #dash-pic{
            margin-top: 20vh;
        }
    }

@media (min-width: 1000px){
    #dash-pic{
        height: 10vh;
        width: 10vh;
    }
    #dash-name{
        font-size: 30px;
    }
  #more-link{
    font-size:23px;
  } 
  #cv-link{
      font-size: 23px;
  }
  #g-link{
    font-size: 23px;
}
#core-values-list{
    margin-left: 30vw;
    width: 40vw;

}

#rasta-border-core{
    margin-left: 30vw;
    width: 40vw;
    height: 2px;
}
#core-title{
    width:40vw;
    margin-left:30vw;
    font-size: 20px;
}
#core-values h1{ 
    padding-top: 15px;

}

#core-values h3{
    width: 40vw;
    padding-top: 9px;
    margin-left: 30vw;
    font-size: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
#add-container{
    width: 40vw;
    margin-left: 30vw;
}
#add-container p{
   font-size:16px;
}

#feed-display h1{
    font-size: 40px; 
    padding-top: 15px;
    margin-left: 30vw;
}
#feed-display h3{
    font-size: 20px;
    padding-top: 9px;
    margin-left: 30vw;
}
#rasta-border-feed{
    margin-left: 30vw;
    width: 40vw;
  
}
#blog-list{
    width: 40vw;
    margin-left: 30vw;
}
div[id$="-link"]{
    font-size: 20px
}
#goals h1{
    font-size: 40px;
    width: 40vw;
    margin-left: 30vw;
}
#goals h3{
    width: 40vw;
    margin-left: 30vw;
}
#rasta-border-goals{
    width: 40vw;
    margin-left: 30vw;
}
}
