
#menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.5s;
    overflow: hidden;
    font-size: 20px;
    position: absolute;
    margin-top: 0;
    margin-right: 2vw;
    right: 0;
    width: 30px;
    height: 30px; 
    color: black;

  }
  #menubars{
    max-width: 20px;
  }
 