
#modalWrapper{
    font-family: 'Do Hyeon', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #3e6a99;
    color: white;
}
#flyin-modal{
    margin-top: 3vh;
    width: 80vw;
}
.title{
    border-bottom: 2px solid white;
    margin-top: 10vh;
}
#sign-in-out{
    display: flex;
    flex-direction: column;
    height: 65vh;
    justify-content: flex-end;
    align-items: center;
}
#modal-form{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
}
.text-line{
    height: 3vh;
    width: 70vw;
    margin-top: 5px;
    background-color: transparent;
    color: white;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid rgba(255, 255, 255, 0.719) 1px;
    padding: 5px 10px;
    text-align: center;
    font-size: 4vh;
}
.text-line::placeholder{
    color: rgba(255, 255, 255, 0.425);
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}
#modal-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    width: 100vw;
}
#signIn-button{
    width: 70vw;
    height: 5vh;
    border: 1px solid black;
    border-radius: 20px;
    background-color: transparent;
    margin-top: 3vh;
}
#google-img{
    max-width: 20px;
}
#google-signin{
    padding: 3px;
    border-radius: 20px;
    width: 70vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(104, 104, 104);
}
#google-signin:hover{
    cursor: pointer;
    box-shadow: 1px 1px 1px black;
}

