
#modalWrapper{
    font-family: 'Do Hyeon', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #3e6a99;
    color: white;
}
#flyin-modal{
    margin-top: 3vh;
    width: 80vw;
}
.title{
    text-align: center;
    width: 35vw;
    padding-right: 2vw;
    padding-left: 2vw;
    margin-top: 10vh;
}
#title-underline{
    background: linear-gradient(to right, #3e6a99 1%, rgb(255, 255, 255,.8) 25%, rgb(255, 255, 255,.8) 75%, #3e6a99 99%) 100%;
    height: 2px;
}
#sign-in-out{
    display: flex;
    flex-direction: column;
    height: 65vh;
    justify-content: center;
    align-items: center;
}
#modal-form{
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}
.text-line{
    height: 5vh;
    width: 70vw;
    margin-top: 2vh;
    background-color: transparent;
    color: white;
    border:none;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    padding: 5px 10px;
    text-align: center;
    font-size: 4vh;
}
#text-line-underline{
    
    background: linear-gradient(to right, #3e6a99 0%, rgb(255, 255, 255,.8) 15%, white 85%, #3e6a99 100%) 100%;
    width: 100%;
    height: 2px;
}
.text-line::placeholder{
    z-index: 150;
    color: rgba(255, 255, 255, 0.425);
    font-family: 'Do Hyeon', sans-serif;
}
#modal-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    width: 100vw;
}
#signIn-button{
    display: flex;
    justify-content: center;
    align-items :center;
    color: white;
    margin: 5px;
    width: 68vw;
    height: 4vh;
    padding: 3px;
    border-radius: 20px;
    background-color:#5179a3 ;
    box-shadow: 2px 2px black;
    
}
#google-img{
    max-width: 20px;
}
#google-signin{
    margin: 5px;
    padding: 3px;
    border-radius: 20px;
    color:white;
    width: 68vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(104, 104, 104);
    box-shadow: 2px 2px black;
}
#facebook-signin{
    margin: 5px;
    padding: 3px;
    border-radius: 20px;
    color:white;
    width: 68vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#3b5998;
    box-shadow: 2px 2px black;
}
#facebook:hover{
    cursor: pointer;
}
#google-signin:hover{
    cursor: pointer;
    box-shadow: 1px 1px 1px black;
}
#facebook-img{
    max-width: 20px;
}
#spacing-div{
    height:4vh;
}

@media (max-height:450px){
    #flyin-modal{
        width:30vw;
    }
    .title{
        font-size: 20px
    }
    
}
#forgot-password{
    font-size: 15px;
    
}
#forgot-password:hover{
    cursor: pointer;
}

