#questions-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-family: 'Do Hyeon', sans-serif;
    background-color: #3e6a99;
}

#prevButton {
    width: 15vw;
    height: 5vh;
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    font-family: 'Do Hyeon', sans-serif;
    z-index: 50;
    position: fixed;
}

#question-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 7vh;
    margin-top: 5px;
    position: absolute;
}

#questionTitleWrapper {
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 7vh;
}

#questionTitle {
    width: 100vw;
    text-align: center;
    font-size: 3vh;
    color: white;
}

#question-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 100vw;
    padding-top: 15px;
}

#questions {
    width: 70vw;
    text-align: center;
    margin: 1vh;
    font-size: 6.5vw;
    color: white;
}

#question-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100vw;
    height: 52vh;
    align-items: center;
}

#answerStyleWrapper {
    overflow: scroll;
}

.answerOption {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh;
    width: 70vw;
    height: 7vh;
    font-size: 4.5vw;
    color: white;
    border: 1px solid white;
    border-radius: 7px;
}

.selected {
    background-color: grey;
}

#textAnswers {
    resize: none;
    outline: none;
    padding: 8px;
    border: 1px solid;
    border-image: linear-gradient(45deg, #adadad9a, #5555554d, #ffffff4d) 1;
    background-color: #3e6a99;
    box-shadow: inset 0px 0px 80px 10px rgba(41, 83, 128, 0.842);
    font-size: 3vh;
    color: white
}

#textAnswers::placeholder {
    color: rgba(255, 255, 255, 0.425);
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
}

#question-inner-container {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#nextButton {
    width: 25vw;
    height: 5vh;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    margin-top: 3vh;
    font-family: 'Do Hyeon', sans-serif;
    position: absolute;
    bottom: 5vh;
}